@font-face {
    font-family: 'Pokemon Hollow';
    src: url(Pokemon\ Hollow.ttf);
}

:root{
    --color01 : #e9e9e9;
    --color02 : #F2DBAE;
    --color03 : #F2CB05;
    --color04 : #f52d13b6;
    --color05 : #0DD9EB;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color02);
    min-width: 450px;
}

header {
    font-family: 'Pokemon Hollow', sans-serif;
    font-size: 2em;
    color: black;
    background-color: var(--color04);
    text-align: center;
    height: 200px;
    position: relative;
}

header h1 {
    letter-spacing: 7px;
    line-height: 65px;
    color: var(--color05);
    font-size: 1.7em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

main{
    margin: auto;
    max-width: 1000px;
    height: 470px;
    background-color: var(--color03);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.356);
}

footer{
    margin-top: 30px;
    background-color: var(--color04);
    text-align: center;
    color: var(--color01);
}

footer p {
    padding: 0;
    color: white;
    font-size: 1em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }